/* Josh Comeau Reset CSS  */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-size: 14px;
    
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--Cream);
    margin: 2em 10em;

    font-family: 'DM Sans', sans-serif;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
 
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* Font Variable */
  :root{
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);}

/* Google Font */
/* font-family: 'DM Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');
/* font-family: 'Fraunces', serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap');


  /* CSS setting for detail component*/
article{
    display: grid;
    place-content: center;
    background-color: var(--White);

    border-radius:1em ;
    

    /* width: 50vw; */
}

picture>img{
    border-radius:1em 1em 0em 0em;
    /* width: 100%; */
 
}

article h3{
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    letter-spacing: 0.2em;
}

article h1{
    font-family:'DM Sans', sans-serif ;
    font-weight: 900;
    font-size: 2em;

    line-height: 1em;
}

article p{
    color: var(--Very-dark-blue);
}

.flex-box{
    display: flex;
    gap: 2em;
    align-items: center;
}

article h2{
color: var(--Dark-cyan);
font-size: 2em;
}

article s{
color: var(--Dark-grayish-blue);
}

.containerBox{
    padding: 2em;
    display: grid;
    gap: 1.5em;
}


/* Button element */
.btn{
    background-color: var(--Dark-cyan);
    color: white;
    font-weight: 500;
    border-radius: 0.3em;
    padding: 0.5em 1em;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* place-items: center; */
    
}

.btn img{
  width: 20px;
  height:auto;
  margin-right: 1em;
}

/* media querie */

@media (min-width:600px){
  article{grid-template-columns: 1fr 1fr;
  min-width: 600px;
  max-width: 600px;


} 
  article img{
    height: 100%;
    width: 100%;
    /* min-width: 600px;
    max-width: 600px; */
  }

  body{
    margin: auto;
  }
}

@media(min-width:620px){
  article{grid-template-columns: 1fr 1fr;
    min-width: 600px;
    max-width: 600px;
    
    position: absolute;
    top: 10%;
    
    
  } 
    article img{
      height: 100%;
      width: 100%;
      /* min-width: 600px;
      max-width: 600px; */
    }
  
body{
  display: flex;
  justify-content: center;
  align-self:center;
}
}